@media (orientation: portrait) and (max-width: 41em){
    .pageBackground{
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-color: #011327;
    }
    .pageBackgroundLeft{
        position: absolute;
        height: 30%;
        width: 60%;
        top: 70%;
        left: 0;
        background-image: linear-gradient(to right, #f2a138, #ff7c18);
        z-index: 1;
        border-top-left-radius: 200px;
    }
    .pageBackgroundRight{
        position: absolute;
        height: 45%;
        width: 50%;
        top: 55%;
        left: 50%;
        background-image: linear-gradient(to right, #ff7c18, #ff2c06);
        z-index: 2;
        border-top-left-radius: 200px;
    }
    #mainPageWelcome{
        position: relative;
        height: 50%;
        width: 90%;
        top: 5%;
        left: 5%;
        background-color: #011327;
        color: whitesmoke;
        text-align: center;
        padding: 1%;
        border-radius: 25px;
        z-index: 1;
    }
    #aboutMeMainPage{
        position: relative;
        height: 50%;
        width: 90%;
        top: 5%;
        left: 5%;
        background-color: #011327;
        color: whitesmoke;
        text-align: center;
        padding: 1%;
        border-radius: 25px; 
        z-index: 2;  
    }
    .homeButton{
        position: relative;
        height: 20%;
        width: 80%;
        top: 0px;
        left: 0px;
        background-color: #ff7c18;
        color: whitesmoke;
        text-align: center;
        font-size: large;
        padding: 1%;
        border-radius: 25%;
        z-index: 3;
    }
    .pageLogo{
        position: absolute;
        background-image: url('logomobile.jpeg');
        background-size: cover;
        height: 70%;
        width: 100%;
        left: 0;
        top: 0;
    }
    .pageNavigation{
        position: absolute;
        top: 80%;
        height: 7%;
        width: 20%;
        background-color: #011327;
        color: whitesmoke;
        font-size: 10px;
        text-align: center;
        padding: 1%;
        border-radius: 25px;
        border-color: black;
        border: 10%;
        border-style: solid;
        z-index: 4;
    }
    #mainPageFHMStats{
        top: 72.5%;
        left: 10%;
    }
    #mainPageMixedStats{
        top: 67.5%;
        left: 40%;
    }
    #mainPageNHLStats{
        top: 62.5%;
        left: 70%;
    }
    #aboutMePageFHMStats{
        top: 72.5%;
        left: 10%;
    }
    #aboutMePageMixedStats{
        top: 67.5%;
        left: 40%;
    }
    #aboutMePageNHLStats{
        top: 62.5%;
        left: 70%;
    }
}
@media (orientation: landscape) and (max-height: 41em){
    .pageBackground{
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-color: #011327;
    }
    .pageBackgroundLeft{
        position: absolute;
        height: 30%;
        width: 60%;
        top: 70%;
        left: 0;
        background-image: linear-gradient(to right, #f2a138, #ff7c18);
        z-index: 1;
        border-top-left-radius: 200px;
    }
    .pageBackgroundRight{
        position: absolute;
        height: 45%;
        width: 50%;
        top: 55%;
        left: 50%;
        background-image: linear-gradient(to right, #ff7c18, #ff2c06);
        z-index: 2;
        border-top-left-radius: 200px;
    }
    #mainPageWelcome{
        position: relative;
        height: 10%;
        width: 30%;
        top: 5%;
        left: 34.5%;
        background-color: #011327;
        color: whitesmoke;
        text-align: center;
        padding: 1%;
        border-radius: 25px;
        z-index: 1;
    }
    .pageLogo{
        position: absolute;
        background-image: url('logo.jpeg');
        background-size: cover;
        height: 70%;
        width: 100%;
        left: 0;
        top: 0;
    }
    #aboutMeMainPage{
        position: relative;
        height: 30%;
        width: 30%;
        top: 5%;
        left: 34.5%;
        background-color: #011327;
        color: whitesmoke;
        text-align: center;
        padding: 1%;
        border-radius: 25px; 
        z-index: 1;  
    }
    .pageNavigation{
        position: absolute;
        top: 80%;
        height: 10%;
        width: 20%;
        background-color: #011327;
        color: whitesmoke;
        text-align: center;
        padding: 1%;
        border-radius: 25px;
        border-color: black;
        border: 10%;
        border-style: solid;
        z-index: 3;
    }
    #mainPageFHMStats{
        top: 82.5%;
        left: 10%;
    }
    #mainPageMixedStats{
        top: 77.5%;
        left: 40%;
    }
    #mainPageNHLStats{
        top: 72.5%;
        left: 70%;
    }
    #aboutMePageFHMStats{
        top: 82.5%;
        left: 10%;
    }
    #aboutMePageMixedStats{
        top: 77.5%;
        left: 40%;
    }
    #aboutMePageNHLStats{
        top: 72.5%;
        left: 70%;
    }
}
@media (orientation: portrait) and (min-width: 41em){
    .pageBackground{
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-color: #011327;
    }
    .pageBackgroundLeft{
        position: absolute;
        height: 30%;
        width: 60%;
        top: 70%;
        left: 0;
        background-image: linear-gradient(to right, #f2a138, #ff7c18);
        z-index: 1;
        border-top-left-radius: 200px;
    }
    .pageBackgroundRight{
        position: absolute;
        height: 45%;
        width: 50%;
        top: 55%;
        left: 50%;
        background-image: linear-gradient(to right, #ff7c18, #ff2c06);
        z-index: 2;
        border-top-left-radius: 200px;
    }
    #mainPageWelcome{
        position: relative;
        height: 5%;
        width: 30%;
        top: 5%;
        left: 34.5%;
        background-color: #011327;
        color: whitesmoke;
        text-align: center;
        padding: 1%;
        border-radius: 25px;
        z-index: 1;
    }
    .pageLogo{
        position: absolute;
        background-image: url('logo.jpeg');
        background-size: cover;
        height: 70%;
        width: 100%;
        left: 0;
        top: 0;
    }
    #aboutMeMainPage{
        position: relative;
        height: 30%;
        width: 30%;
        top: 5%;
        left: 34.5%;
        background-color: #011327;
        color: whitesmoke;
        text-align: center;
        padding: 1%;
        border-radius: 25px;   
        z-index: 1;
    }
    .pageNavigation{
        position: absolute;
        top: 80%;
        height: 10%;
        width: 20%;
        background-color: #011327;
        color: whitesmoke;
        text-align: center;
        padding: 1%;
        border-radius: 25px;
        border-color: black;
        border: 10%;
        border-style: solid;
        z-index: 3;
    }
    #mainPageFHMStats{
        top: 82.5%;
        left: 10%;
    }
    #mainPageMixedStats{
        top: 77.5%;
        left: 40%;
    }
    #mainPageNHLStats{
        top: 72.5%;
        left: 70%;
    }
    #aboutMePageFHMStats{
        top: 82.5%;
        left: 10%;
    }
    #aboutMePageMixedStats{
        top: 77.5%;
        left: 40%;
    }
    #aboutMePageNHLStats{
        top: 72.5%;
        left: 70%;
    }
}
@media (orientation: landscape) and (min-height: 41em){
    .pageBackground{
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-color: #011327;
    }
    .pageBackgroundLeft{
        position: absolute;
        height: 30%;
        width: 60%;
        top: 70%;
        left: 0;
        background-image: linear-gradient(to right, #f2a138, #ff7c18);
        z-index: 1;
        border-top-left-radius: 200px;
    }
    .pageBackgroundRight{
        position: absolute;
        height: 45%;
        width: 50%;
        top: 55%;
        left: 50%;
        background-image: linear-gradient(to right, #ff7c18, #ff2c06);
        z-index: 2;
        border-top-left-radius: 200px;
    }
    #mainPageWelcome{
        position: relative;
        height: 5%;
        width: 30%;
        top: 5%;
        left: 34.5%;
        background-color: #011327;
        color: whitesmoke;
        text-align: center;
        padding: 1%;
        border-radius: 25px;
        z-index: 1;
    }
    .pageLogo{
        position: absolute;
        background-image: url('logo.jpeg');
        background-size: cover;
        height: 70%;
        width: 100%;
        left: 0;
        top: 0;
    }
    .pageNavigation{
        position: absolute;
        top: 80%;
        height: 10%;
        width: 20%;
        background-color: #011327;
        color: whitesmoke;
        text-align: center;
        padding: 1%;
        border-radius: 25px;
        border-color: black;
        border: 10%;
        border-style: solid;
        z-index: 3;
    }
    #aboutMeMainPage{
        position: relative;
        height: 30%;
        width: 30%;
        top: 5%;
        left: 34.5%;
        background-color: #011327;
        color: whitesmoke;
        text-align: center;
        padding: 1%;
        border-radius: 25px;
        z-index: 1;   
    }
    #mainPageFHMStats{
        top: 82.5%;
        left: 10%;
    }
    #mainPageMixedStats{
        top: 77.5%;
        left: 40%;
    }
    #mainPageNHLStats{
        top: 72.5%;
        left: 70%;
    }
    #aboutMePageFHMStats{
        top: 82.5%;
        left: 10%;
    }
    #aboutMePageMixedStats{
        top: 77.5%;
        left: 40%;
    }
    #aboutMePageNHLStats{
        top: 72.5%;
        left: 70%;
    }
}